@media only screen and (max-width: 600px) {
    #logo{
        position: absolute;
        left: 0px;
        
       
    }

    #nav{
        background-color: white;
        position: absolute;
        right: 0px;
        top: 10px;

    }
    #button{
        position: absolute;
        top: 70px;
        left: 150px;

    }
   
    
  }

